.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85%;
  gap: 5px;
}

.picture {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.freeTrial {
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  margin-right: 35px;
}

.freeTrial h3 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 30px;
}

.freeTrial p {
  color: #dadada;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
  opacity: 0.8;
}

.buttonContainer button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttonContainer button:hover {
  background-color: #ce2e32;
  transition: all 0.3s ease-in-out;
}

.buttonContainer button:nth-child(1) {
  width: 330px;
  height: 50px;
  border-radius: 25px;
}

.buttonContainer button:nth-child(2) {
  width: 230px;
  height: 50px;
  border-radius: 25px;
}
